<h1 class="text-center" mat-dialog-title>Are you sure?</h1>
<div mat-dialog-content>Do you really want to delete this record.</div>
<div mat-dialog-actions style="direction: rtl">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button class="mat-red-900-bg" style="margin-right: 10px" (click)="dialogRef.close(true)">Yes</button>
</div>
