<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

    <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
      <img src="assets/images/logos/fuse.svg">
    </div>

    <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      Welcome to the FUSE!
    </div>

    <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
      vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
    </div>

  </div>

  <div id="reset-password-form-wrapper" fusePerfectScrollbar
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="reset-password-form">

      <div class="logo" fxHide.gt-xs>
        <span>F</span>
      </div>

      <div class="title">RESET YOUR PASSWORD</div>

      <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="Email" [value]="user.email" [disabled]="true">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password (Confirm)" formControlName="password_confirmation">
          <mat-error *ngIf="resetPasswordForm.get('password_confirmation').hasError('required')">
            Password confirmation is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('password_confirmation').hasError('mismatchedPasswords')">
            Passwords must match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent" data-style="slide-left"
                aria-label="RESET MY PASSWORD" [ladda]="isLoading" [disabled]="resetPasswordForm.invalid"
                (click)="reset()">
          RESET MY PASSWORD
        </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/'">Go back to login</a>
      </div>

    </div>
  </div>
</div>
