<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100">

    <div class="profile-box info-box general" fxLayout="column">

      <form name="modelForm" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>

        <div class="content">
          <mat-form-field class="w-100-p">
            <input matInput formControlName="username" placeholder="{{ 'Username' | translate }}">
          </mat-form-field>

          <mat-form-field class="w-100-p">
            <input matInput formControlName="full_name" placeholder="{{ 'Full Name' | translate }}">
          </mat-form-field>

          <mat-form-field class="w-100-p">
            <input matInput formControlName="phone_number" placeholder="{{ 'Phone' | translate }}">
          </mat-form-field>

          <mat-form-field class="w-100-p">
            <input matInput formControlName="maximum_bid_amount" placeholder="{{ 'Maximum bid amount' | translate }}">
          </mat-form-field>

          <mat-form-field class="w-100-p">
            <input matInput type="password" formControlName="password" placeholder="{{ 'Password' | translate }}">
          </mat-form-field>

          <mat-form-field class="w-100-p">
            <input matInput type="password" formControlName="password_confirmation" placeholder="{{ 'Password (Confirm)' | translate }}">
          </mat-form-field>

          <mat-slide-toggle formControlName="is_active">{{ 'Active' | translate }}</mat-slide-toggle>
        </div>

      </form>

    </div>

  </div>

</div>
