@import "~app/@fuse/scss/fuse";

:host {

  #about {
    max-width: 1200px;

    .about-content {

      .general {

        .location {

          mat-icon {
            line-height: 13px !important;
          }
        }
      }

      .work {

        .job {

          .company {
            padding: 0 16px 0 0;
            font-weight: 500;
          }

          .date {
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .about-sidebar {
      padding-left: 32px;

      @include media-breakpoint('sm') {
        padding: 8px
      }

      .friends {

        .content {

          .friend {
            padding: 4px;
          }
        }
      }

      .groups {

        .content {

          .group {
            margin-bottom: 16px;

            &:last-child {
              margin-bottom: 0;
            }

            .logo {
              border: 1px solid rgba(0, 0, 0, 0.12);
              margin-right: 16px;
            }

            .name {
              font-weight: 500;
              font-size: 15px;
            }

            .category,
            .members {
              color: rgba(0, 0, 0, 0.54);
            }

            .members {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }

  // Profile boxes
  .profile-box {
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
      padding: 16px;

      .title {
        font-size: 17px;
      }

      .more {
        cursor: pointer;
      }
    }

    .content {
      padding: 16px;
      background-color: #FFF;
    }

    footer {
      padding: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

      .info-line {
        margin-bottom: 24px;

        .title {
          font-size: 15px;
          font-weight: 500;
          padding-bottom: 4px;
        }

        .info {

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
