@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700');

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.hero {
  background: #ffffff;
}

.hero .drop-container {
  background: #ffffff;
  border-radius: 6px;
  height: 150px;
  width: 100%;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #C0C4C7;
  cursor: pointer;
}

.hero .drop-container.have-file {
  height: auto;
  min-height: 150px;
  display: block;
  padding: 30px;
}

.image-preview:hover  {
  .image {
    img {
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

.image-preview {
  display: inline-block;
  margin: 10px;
  position: relative;
  .delete-icon {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #ff0000;
    z-index: 2;
    i {
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
  .image {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  b {
    position: relative;
    top: -60px;
    left: 20px;
  }
}

.hero .drop-container p {
  font-size: 16px;
  font-weight: 400;
  color: #C0C4C7;
}

.hero .drop-container .upload-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #5754A3;
}

.hero .drop-container .upload-button input {
  display: none;
}

.hero .upload-items {
  display: block;
  width: 100%;
}

.hero .upload-items .upload-item {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.hero .upload-items .upload-item .filename {
  display: block;
  padding: 0 0 5px 5px;
  color: #74809D;
}

.hero .upload-items .upload-item .progress {
  display: block;
  position: relative;
  width: 100%;
  height: 15px;
  border: 1px solid #5754A3;
  border-radius: 2px;
}

.hero .upload-items .upload-item .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  background: #5754A3;
}
