@import '~ngx-toastr/toastr.css';
@import '~ladda/css/ladda';

// Import Fuse core library
@import "~app/@fuse/scss/core";

@import "ngx-uploader";

@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat-datetimepicker-theme($theme);

// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------

// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-fusedark);
$yellow-theme-accent: mat-palette($mat-yellow, 600, 400, 700);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {

  // Generate the Angular Material theme
  @include angular-material-theme($yellow-theme);

  // Generate the fuse color classes with the new colors...
  @include generateFuseColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

.mat-header-cell {
  padding-right: 15px;
}

.scroll-horz {
  overflow-x: scroll;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #b71c1c;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(183, 28, 28, 0.5);
}

a {
  color: #b71c1c;
}
