<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-warn-900-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header mat-warn-900-bg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-16" [routerLink]="'/products'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            {{model.name}}
          </div>
          <div class="subtitle secondary-text">
            <span>{{ 'Product Detail' | translate }}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button
              class="save-product-button mat-white-bg"
              [disabled]="modelForm.invalid || modelForm.pristine" [ladda]="isLoading"
              *ngIf="pageType ==='edit'" (click)="bid()">
        <span>{{ 'Save' | translate }}</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="modelForm" [formGroup]="modelForm" class="product w-100-p" fxLayout="column" fxFlex>
          <mat-tab-group (selectedTabChange)="loadData($event)">
            <mat-tab label="{{ 'Information' | translate }}">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-form-field class="w-100-p">
                  <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}" readonly>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input matInput formControlName="description" placeholder="{{ 'Description' | translate }}" readonly>
                </mat-form-field>

                <mat-form-field class="w-100-p">
                  <input type="number" matInput formControlName="amount" placeholder="{{ 'Amount' | translate }}*">
                </mat-form-field>

<!--           <mat-form-field class="w-100-p">
                  <input matInput formControlName="description" placeholder="{{ 'Description' | translate }}" readonly>
                </mat-form-field>_active">{{ 'Active' | translate }}</mat-slide-toggle>-->

              </div>

            </mat-tab>

            <mat-tab label="{{ 'Auto-bid' | translate }}">
              <div class="tab-content p-24" fusePerfectScrollbar>
                <mat-slide-toggle [checked]="autoBidConfig" (change)="changeAutoBidConfig($event)">{{ 'Active' | translate }}</mat-slide-toggle>
              </div>
            </mat-tab>

            <mat-tab label="{{ 'History' | translate }}">
              <table mat-table [dataSource]="historyData" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Name' | translate }} </th>
                  <td mat-cell *matCellDef="let item"> {{item.user.full_name}} </td>
                </ng-container>

                <ng-container matColumnDef="bid">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Bid' | translate }} </th>
                  <td mat-cell *matCellDef="let item"> {{item.bid}} </td>
                </ng-container>

                <ng-container matColumnDef="updated_at">
                  <th mat-header-cell *matHeaderCellDef> {{ 'Time' | translate }} </th>
                  <td mat-cell *matCellDef="let item"> {{item.updated_at}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="historyDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: historyDisplayedColumns;"></tr>
              </table>

            </mat-tab>
          </mat-tab-group>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
