<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-warn-900-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header mat-warn-900-bg"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-12 m-sm-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          location_city
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{ 'Products' | translate }}
        </span>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button *ngIf="isAccessible('create products')"
              [routerLink]="'/products/new'"
              class="add-product-button mat-white-bg mt-sm-0">
        <span>{{ 'Add new product' | translate }}</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div class="scroll-horz">
        <mat-table class="products-table" fusePerfectScrollbar matSort
                   [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

          <!-- Data Columns -->
          <ng-container *ngFor="let column of displayedColumns">

            <ng-container *ngIf="mobileColumns.includes(column.key)" matColumnDef="{{column.key}}">
              <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <p class="text-truncate">{{row[column.key]}}</p>
              </mat-cell>
            </ng-container>

            <ng-container *ngIf="desktopColumns.includes(column.key)" matColumnDef="{{column.key}}">
              <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>{{column.title}}</mat-header-cell>
              <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                <p class="text-truncate">{{row[column.key]}}</p>
              </mat-cell>
            </ng-container>

            <ng-container *ngIf="column.key === 'status'" matColumnDef="{{column.key}}">
              <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.status === 'Open'" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                <mat-icon *ngIf="row.status ==='Closed'" class="active-icon mat-red-500-bg s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <ng-container *ngIf="column.key === 'actions'" matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button *ngIf="isAccessible('delete products')" (click)="delete($event, row)">
                  <mat-icon class="s-25 red-900-fg">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

          </ng-container>
          <!-- / Data Columns -->

          <!-- Filter Columns -->
          <ng-container *ngFor="let column of displayedColumns">
            <ng-container *ngIf="mobileColumns.includes(column.key)" matColumnDef="{{column.key + '-filter'}}">
              <mat-header-cell *matHeaderCellDef>
                <mat-form-field *ngIf="column.filter === true" class="w-100-p" floatLabel="never">
                  <input matInput placeholder="{{ 'Filter' | translate }}..." autocomplete="off"
                         [value]="column.value" (keyup)="filterColumn($event, column)">
                </mat-form-field>
              </mat-header-cell>
            </ng-container>

            <ng-container *ngIf="desktopColumns.includes(column.key)" matColumnDef="{{column.key + '-filter'}}">
              <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>
                <mat-form-field *ngIf="column.filter === true" class="w-100-p" floatLabel="never">
                  <input matInput placeholder="{{ 'Filter' | translate }}..." autocomplete="off"
                         [value]="column.value" (keyup)="filterColumn($event, column)">
                </mat-form-field>
              </mat-header-cell>
            </ng-container>

            <ng-container *ngIf="['status', 'actions'].includes(column.key)"
                          matColumnDef="{{column.key + '-filter'}}">
              <mat-header-cell *matHeaderCellDef>
                <mat-form-field *ngIf="column.filter === true" class="w-100-p" floatLabel="never">
                  <ng-container *ngIf="column.operator === 'eq' || column.operator === 'like'">
                    <ng-container *ngIf="!column.options">
                      <input matInput placeholder="{{ 'Filter' | translate }}..." autocomplete="off"
                             [value]="column.value" (keyup)="filterColumn($event, column)">
                    </ng-container>

                    <ng-container *ngIf="column.options">
                      <mat-select placeholder="{{ 'Filter' | translate }}..."
                                  [value]="column.value" (valueChange)="filterColumn($event, column)">
                        <mat-option *ngFor="let option of column.options" value="{{ option.value }}">
                          {{ option.key | translate }}
                        </mat-option>
                      </mat-select>
                    </ng-container>

                  </ng-container>

                </mat-form-field>
              </mat-header-cell>
            </ng-container>

          </ng-container>
          <!-- / Filter Columns -->

          <mat-header-row *matHeaderRowDef="(displayedColumns | pluck: 'key'); sticky:true"></mat-header-row>

          <mat-header-row *matHeaderRowDef="getFilterColumns(displayedColumns); sticky:true"></mat-header-row>

          <mat-row *matRowDef="let product; columns: (displayedColumns | pluck: 'key');" class="product"
                   [routerLink]="'/products/edit/' + product.id">
          </mat-row>

        </mat-table>
      </div>

      <mat-paginator [length]="dataSource?.response?.total" [pageSize]="paginator.pageSize || perPage"
                     [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
