<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <!--<div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">-->
      <!--<img src="assets/icon/logo.png">-->
    <!--</div>-->

    <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      Welcome to Auction system!
    </div>

    <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">

    </div>

  </div>

  <div id="login-form-wrapper" fusePerfectScrollbar
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">

      <img class="logo-icon" fxHide.gt-xs src="assets/icon/logo-red.png">

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Remember Me
          </mat-checkbox>

          <a class="forgot-password" [routerLink]="'/forgot-password'">
            Forgot Password?
          </a>
        </div>

        <button aria-label="LOGIN" data-style="slide-left" mat-raised-button class="submit-button mat-warn-900-bg"
                [ladda]="isLoading" [disabled]="loginForm.invalid" (click)="login()">
          LOGIN
        </button>

      </form>
    </div>
  </div>
</div>
