<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-warn-900-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header mat-warn-900-bg"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-12 m-sm-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Permissions
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-24 m-md-0"
           fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input id="search" matInput placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button
              [routerLink]="'/permissions/new'"
              class="add-product-button mat-white-bg mt-sm-0">
        <span>ADD NEW PERMISSION</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <mat-table class="products-table" fusePerfectScrollbar matSort
                 [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <ng-container *ngFor="let column of displayedColumns">

          <ng-container *ngIf="column.key != 'actions'" matColumnDef="{{column.key}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <p class="text-truncate">{{row[column.key]}}</p>
            </mat-cell>
          </ng-container>

          <ng-container *ngIf="column.key === 'actions'" matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="delete($event, row)">
                <mat-icon class="s-25 red-900-fg">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="(displayedColumns | pluck: 'key'); sticky:true"></mat-header-row>

        <mat-row *matRowDef="let permission; columns: (displayedColumns | pluck: 'key');" class="product"
                 [routerLink]="'/permissions/edit/' + permission.id">
        </mat-row>

      </mat-table>

      <mat-paginator [length]="dataSource?.response?.total" [pageSize]="perPage" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
