@import "~app/@fuse/scss/fuse";

:host {

  #products {

    .top-bg {
      @include media-breakpoint-down(xs) {
        height: 240px;
      }
    }

    > .center {

      > .header {

        .search-input-wrapper {
          max-width: 480px;
        }

        @include media-breakpoint-down(xs) {
          margin: 8px 0;
          height: 120px !important;
          min-height: 120px !important;
          max-height: 120px !important;
        }
      }
    }
  }

  .products-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
      min-height: 64px;
    }

    .product {
      position: relative;
      cursor: pointer;
      height: 84px;
    }

    .product:hover {
      background-color: #CCCCCC;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-status {
      flex: 0 1 84px;
      justify-content: center;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .active-icon {
      border-radius: 50%;
    }
  }
}
