<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-warn-900-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header mat-warn-900-bg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-16" [routerLink]="'/permissions'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            {{model.name}}
          </div>
          <div class="subtitle secondary-text">
            <span>Permissions Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button
              class="save-product-button mat-white-bg"
              [disabled]="modelForm.invalid" [ladda]="isLoading"
              *ngIf="pageType ==='new'" (click)="create()">
        <span>ADD</span>
      </button>

      <button mat-raised-button
              class="save-product-button mat-white-bg"
              [disabled]="modelForm.invalid || modelForm.pristine" [ladda]="isLoading"
              *ngIf="pageType ==='edit'" (click)="update()">
        <span>SAVE</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">

        <form name="modelForm" [formGroup]="modelForm" class="product w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>

            <mat-tab label="Information">

              <div class="tab-content p-24" fusePerfectScrollbar>

                <mat-form-field class="w-100-p">
                  <input matInput formControlName="name" placeholder="Name">
                </mat-form-field>

              </div>

            </mat-tab>

          </mat-tab-group>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
