<ng-container matColumnDef="{{column?.key}}">
  <mat-header-cell *matHeaderCellDef mat-sort-header>{{column?.title}}</mat-header-cell>
  <mat-cell *matCellDef="let row">
    <p class="text-truncate">{{row[column?.key]}}</p>
  </mat-cell>
</ng-container>
